body {
  background-color: #6998ce;
  height: 100%;
  margin: 0;
  font-family: "Times New Roman";

}

.center {
  align-self: center;
  justify-content: center;
}

.welcome-form {
  padding: 0;
  background-color: #FFFFFF;
  height: 100%;
}

.welcome-form > button {
  margin: 3px;
  float: right;
}

.welcome-form > div {
  margin-bottom: 4px;
}

.welcome-form > h3 {
  margin-top: 8px;
}

.welcome-form > div > label {
  text-align: left;
  width: 85px;
}

.welcome-form > div > input {
  float: right;
  margin-right: 3px;
  width: 140px;
  height: 15px;
  padding: 0px;
  -moz-appearance: none;
}

.welcome-form > div > select {
  float: right;
  margin-right: 3px;
  padding: 0px;
  -moz-appearance: none;
}

/* Style tab links */
.tablink {
  color: white;
  background-color: #999;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px;
  font-size: 17px;
  width: calc(100%  /3);
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  display: none;
  padding: 50px 20px;
  height: 100%;
}

.flex-item {
  margin: 5px;
}

.post-form {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.feed {
  list-style-type: none;
  background-color: white;
}

#post_area_wrapper {
  display: flex;
  flex-direction: column;
  flex: 3;

}

#home {
  display: flex;
  align-items: flex-start;
}

#browse {
  display: flex;
  flex-direction: column;
}

#account {
  display: flex;
  flex-direction: column;
}

#b_home {
  display: flex;
  align-items: flex-start;
}

#personal_information {
  justify-content: flex-start;
  flex: 1;
  background-color: white;
}

#change_psw_form {
    background-color: #FFFFFF;
    align-self: flex-start;
}

#change_psw_form > div > label {
  display: inline-block;
  text-align: left;
  width: 125px;
}

#change_psw_form > div {
  margin-bottom: 5px;
}

#container {
  display: grid;
  grid-template-columns: 340px 250px;
  grid-template-rows: 100px 290px;
  grid-gap: 10px;
  top: 100px;
  margin: auto;
  width: 600px;
  position: relative;
}

#container > form > p {
  font-size: 12px;
}

#wimage {
  grid-column: 1;
  grid-row: 1 / 3;
}

#login_form {
  grid-column: 2;
  grid-row: 1;
}

#email_login {
  margin-top: 15px;
}

#signup_form {
  grid-column: 2;
  grid-row: 2;
}

#personal_information {
  background-color: #FFF;

}
